body {
    font-family: 'Montserrat', sans-serif;
}

a.active {
    background-color: #ea454b;
  }
  
  #services {
    background-color: red;
    height: 600px;
  }
  
  #about {
    background-color: yellow;
    height: 600px;
  }
  
  #dessert {
    background-color: blue;
    height: 600px;
  }

  #content {
    background-color: #002F6C !important;
  }

  #logo {
      width: 150px;
      height: 150px;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }

  .page-footer {
    background-color: #F0AD4E !important;
}

.footer-copyright {
    background-color: #002F6C !important;
}



